@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

body {
    background-color: #F8EFFF;
    width: 1440px;
}
    
.center img {
    width: 490px;
    margin-left: 490px;
margin-top: -360px;}
    
.containerheader {
    font-family: 'Inter', sans-serif;
    margin: 40px auto;
}

h1 {
    font-family: 'Inter', sans-serif;
 
}.containerheader h1{
    text-align: center;
}

nav{
    text-align: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
}
nav ul a{
    text-decoration: none;
    color: black;
    margin: 0px 60px;
}
nav ul li a :hover {
    color: black;
}

.left img{
    width: 300px;
    margin-bottom: 40px;
    margin-left: 50px;
}

.left_text {
    font-family: 'Inter', sans-serif;
width: 300px;
margin-left: 50px;
}

.left_text img {
    width: 300px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.right img {
    margin-left: 1100px;
    margin-top: -200px;
    margin-bottom: 500px;
 width: 190px;
}